*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1680px;
  --container-offset: 15px;

  --color-black: #232323;
  --color-orange: #fe8c01;
  --color-grey: #818282;
  --color-lightblue: #e9f8fb;

  --animation-duration: 0.3s;
  --animation-effect: ease-in-out;

  --font-size: 18px;
  --font-weight: normal;
  --font-family: "Montserrat Alternates", sans-serif;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.flex {
  display: flex;

  @for $i from 1 through 10 {
    &-#{$i} {
      display: flex;
      flex: #{$i};
    }
  }
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  &-column {
    @for $column from 1 through 10 {
      &-#{$column} {
        grid-template-columns: repeat(#{$column}, 1fr);
      }
    }
  }
}

.button {
  border-radius: 100px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-family: var(--font-family);
  cursor: pointer;
  transition: all var(--animation-duration) var(--animation-effect);
  &--orange {
    background-color: var(--color-orange);
    color: #ffffff;
    font-weight: 500;
    &:hover {
      box-shadow: 0px 0px 20px -5px var(--color-orange);
    }
  }
  &--lightblue {
    font-weight: 400;
    background-color: var(--color-lightblue);
    color: var(--color-black);
  }
}

ul,
ol {
  display: flex;
  list-style: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-offset);
  margin: 0 auto;
}

.orange {
  color: var(--color-orange);
}

.grey {
  color: var(--color-grey);
}

.circle {
  border-radius: 100%;
  overflow: hidden;
}

.header {
  min-height: 100vh;
  &-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 50px 0;
  }
  &-list {
    &-item {
      &__link {
        font-size: 20px;
        color: var(--color-grey);
        font-weight: 500;
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
      .active {
        font-weight: 700;
        color: var(--color-orange);
      }
    }
  }
  &-cart {
    .active {
      margin-right: 35.1px;
    }
    .active &-counter {
      position: absolute;
      background: #fe8c01;
      border-radius: 50px;
      padding: 5px 10px;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      top: -50%;
      display: inline-block;
    }
    &-counter {
      display: none;
    }
    &__link {
      position: relative;
    }
  }
}

.navbar {
  &-logo {
    &__link {
      font-weight: 800;
      font-size: 42px;
    }
  }
}

.hero {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  &-banner {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    &__wrapper {
      width: 670px;
      height: 670px;
      border: 15px solid var(--color-orange);
    }
    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text {
    color: var(--color-black);
    font-weight: 500;
    font-size: 24px;
    &.orange {
      color: var(--color-orange);
    }
  }
  &__title {
    color: var(--color-black);
    font-weight: 800;
    font-size: 155px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &-buttons {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &__text {
      font-weight: 500;
      font-size: 18px;
    }
  }
  &__button {
    font-style: normal;
    padding: 18px 90px;
    font-weight: 500;
    font-size: 28px;
    margin-right: 30px;
  }
}
