*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1680px;
  --container-offset: 15px;

  --color-black: #232323;
  --color-orange: #fe8c01;
  --color-grey: #818282;

  --font-size: 18px;
  --font-weight: normal;
  --font-family: "Montserrat Alternates", sans-serif;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.flex {
  display: flex;

  @for $i from 1 through 10 {
    &-#{$i} {
      display: flex;
      flex: #{$i};
    }
  }
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  &-column {
    @for $column from 1 through 10 {
      &-#{$column} {
        grid-template-columns: repeat(#{$column}, 1fr);
      }
    }
  }
}

ul,
ol {
  display: flex;
  list-style: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-offset);
  margin: 0 auto;
}

.orange {
  color: var(--color-orange);
}

.header {
  &-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 50px 0;
  }
  &-list {
    &-item {
      font-size: 20px;
      color: var(--color-grey);
      font-weight: 500;
      &:not(:last-child) {
        margin-right: 30px;
      }
      .active {
        font-weight: 700;
        color: var(--color-orange);
      }
    }
  }
}

.navbar {
  &-logo {
    &__link {
      font-weight: 800;
      font-size: 42px;
    }
  }
}
